<%- include('partials/header') %>

    <!-- goes back to index page after todo added -->
    <div class="row">
        <div class="col-lg-4 mx-auto">
            <h1>Edit the todo!</h1>
            <!-- we have use query string method of method override to edit the form -->
            <form action="/todos/<%= todo.id %>?_method=PATCH" method="post">
                <div class="mb-3">
                    <label for="time" class="form-label">Time :</label>
                    <input type="text" name="time" class="form-control" id="time" placeholder="<%= todo.time %> ">
                </div>
                <div class="mb-3">
                    <label for="thingsToDo" class="form-label">Things to do:</label>
                    <textarea class="form-control mb-3" name="thingsToDo" id="thingsToDo"
                        rows="3"><%= todo.thingsToDo %> </textarea>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include('partials/footer') %>