<%- include('partials/header') %>
    <h1 class="text-center fw-bold">Things to do today
    </h1>
    </h1>

    <div class="card text-center row text-dark bg-primary border-primary mb-3 mx-auto" style="width: 18rem;">
        <div class="card-header col">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <!-- show dynemically th time property with the help of EJS -->
                <%= todo.time.toUpperCase() %>:
            </li>
            <li class="list-group-item">
                <!-- show dynemically th thingsToDo property with the help of EJS -->
                <%= todo.thingsToDo %>
            </li>
        </ul>
    </div>

    <div class="text-center">
        <a href="/todos" class="btn btn-primary mx-center">Back</a>
        <a href="/todos/<%= todo.id %>/edit" class="btn btn-primary mx-center">Edit</a>
        <!-- here we fake the DELETE request with method-override -->
        <form class="text-center" action="/todos/<%= todo.id %>?_method=DELETE " method="post">
            <button class="btn btn-danger mx-center mt-1">Delete</button>
        </form>

    </div>

    <%- include('partials/footer') %>